main {
  height: 100vh;
  background-color: black;
}

h1 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

article {
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
